<div fxLayout="column">
  <div
    fxLayout.gt-sm="row"
    fxLayoutGap="20px"
    fxLayout.lt-md="column"
    fxFlex="100%"
  >
    <div fxFlex.gt-md="100%" fxFlex.lg="40%" fxLayoutAlign="center start">
      <form [formGroup]="employeeCreated">
        <div
          fxLayout="row wrap"
          fxLayout.lt-sm="column"
          fxLayoutAlign="start stretch"
        >
          <mat-form-field
            style="margin-left: 5px"
            fxFlex="100"
            appearance="outline"
            floatLabel="always"
          >
            <mat-label> Major </mat-label>
            <mat-select
              formControlName="experience"
              [(ngModel)]="experience"
              (selectionChange)="select()"
            >
              <mat-option>
                <ngx-mat-select-search name="experience">
                  <mat-icon ngxMatSelectSearchClear>x</mat-icon>
                </ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let item of listExperienceJobs"
                [value]="item"
              >
                {{ item }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <custom-input
            style="margin-left: 5px"
            fxFlex="30"
            [required]="true"
            [name]="'address'"
            formControlName="address"
            [placeholder]="'first name'"
            [title]="'first name'"
            [maxlength]="250"
          ></custom-input>
          <custom-input
            style="margin-left: 5px"
            fxFlex="30"
            [required]="true"
            [name]="'address'"
            formControlName="address"
            [placeholder]="'Last name'"
            [title]="'Last name'"
            [maxlength]="250"
          ></custom-input>
          <mat-form-field
            style="margin-left: 5px"
            fxFlex="30"
            appearance="outline"
            floatLabel="always"
          >
            <mat-label> Role </mat-label>
            <mat-select
              formControlName="experience"
              [(ngModel)]="experience"
              (selectionChange)="select()"
            >
              <mat-option>
                <ngx-mat-select-search name="role">
                  <mat-icon ngxMatSelectSearchClear>x</mat-icon>
                </ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let item of listExperienceJobs"
                [value]="item"
              >
                {{ item }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <custom-input
            style="margin-left: 5px"
            fxFlex="30"
            [required]="true"
            [name]="'address'"
            formControlName="address"
            [placeholder]="'User name'"
            [title]="'User name'"
            [maxlength]="250"
          ></custom-input>
          <custom-input
            style="margin-left: 5px"
            fxFlex="30"
            [required]="true"
            [name]="'address'"
            formControlName="address"
            [placeholder]="'Email'"
            [title]="'Email'"
            [maxlength]="250"
          ></custom-input>
          <custom-input
            style="margin-left: 5px"
            fxFlex="30"
            [required]="true"
            [name]="'address'"
            formControlName="address"
            [placeholder]="'Phone'"
            [title]="'Phone'"
            [maxlength]="250"
          ></custom-input>

          <div
            class="px-2"
            fxFlex="5"
            fxFlex.sm="100"
            fxFlex.md="15"
            fxLayoutAlign="start start"
          >
            <custom-checkbox [name]="'active'" [title]="'Active'">
            </custom-checkbox>
          </div>

          <custom-textarea
            class="mt-3"
            fxFlex="100"
            [title]="'Description'"
            [placeholder]="'Description'"
          ></custom-textarea>
        </div>

        <div
          fxLayout="row wrap"
          fxLayoutGap="10px"
          fxLayoutAlign="end stretch"
          fxLayout.lt-sm="column"
        >
          <custom-button type="reset"></custom-button>
          <custom-button type="save"></custom-button>
          <custom-button type="delete"></custom-button>
        </div>
      </form>
    </div>
    <div fxFlex.gt-md="100%" fxFlex.lg="60%" fxLayoutAlign="start stretch">
      <div fxFlex="100">
        <custom-table
          [columns]="columns"
          [rows]="_LIST_DATA"
          [pagingParams]="_PagingParams"
          (onRowClick)="onRowClick($event)"
          (onPageChanged)="onPageChanged($event)"
          [heightTb]="755"
        ></custom-table>
      </div>
    </div>
  </div>
</div>
