<div fxFlex fxLayout="column">
  <section class="py-5">
    <div id="ContentsLayout-Blog" fxLayout="row" fxLayoutGap="30px">
      <div id="Content-Blog" fxFlex="70" fxLayout="column">
        <div class="card m-0" fxFlexFill fxFlex="100">
          <div class="card-header">
            <img
              style="object-fit: cover; width: 100%; height: 300px"
              src="{{ _ITEM_DATA.jobImage }}"
              alt="rover"
            />
          </div>
          <div class="card-body" fxLayout="column" fxFlexAlign="start center">
            <div
              fxLayout="row"
              class="footer-item"
              fxFlexAlign="space-between center"
              fxLayoutGap="10px"
            >
              <button
                *ngIf="isActive; else templateName"
                class="btn-readmore cursor"
                fxFlex="95"
                (click)="onApply()"
                [disabled]="isActive"
                [ngClass]="{ disable: isActive }"
              >
                Applied
              </button>
              <ng-template #templateName>
                <button
                  class="btn-readmore cursor"
                  fxFlex="95"
                  (click)="onApply()"
                >
                  Apply Now
                </button>
              </ng-template>
              <a style="font-size: 25px" fxFlexAlign="center end" fxFlex="5"
                ><i class="fa fa-heart"></i
              ></a>
            </div>
            <div fxFlex="100" style="margin-bottom: 10px">
              <a class="title-job">
                {{ _ITEM_DATA.name }}
              </a>
            </div>
            <div fxFlex="100">
              <p class="name-company">
                <i class="fa-solid fa-building icon"></i>
                <span> {{ _ITEM_DATA.companyOfJobs }}</span>
              </p>
              <p>
                <i class="fa-solid fa-location-dot icon"></i>
                <span>{{ _ITEM_DATA.address }}</span>
              </p>
              <p>
                <i class="fa-solid fa-hand-holding-dollar icon"></i>
                <span
                  >{{ _ITEM_DATA.salaryMin }} - {{ _ITEM_DATA.salaryMax }}</span
                >
              </p>
            </div>
            <div class="user mt-0 mb-1" fxLayoutAlign="start center">
              <img
                src="{{
                  _ITEM_DATA.imageUser
                    ? _ITEM_DATA.imageUser
                    : 'https://e7.pngegg.com/pngimages/829/733/png-clipart-logo-brand-product-trademark-font-not-found-logo-brand.png'
                }}"
                alt="user"
              />
              <div class="user-info">
                <h5>{{ _ITEM_DATA.recruitmentName }}</h5>
              </div>
            </div>
            <div class="my-2" fxFlex="100" fxLayout="row">
              <span class="tag tag-teal">{{ _ITEM_DATA.nameMajor }}</span>
            </div>

            <div class="border-top my-3">
              <div class="py-2 detail-job">
                <div [innerHTML]="_ITEM_DATA.jobDetail"></div>
              </div>
            </div>
          </div>
        </div>
        <h1>Comment</h1>
        <hr />
        <div class="form-group">
          <form [formGroup]="commentCreated">
            <custom-textarea
              placeholder="Your Comment Please....."
              formControlName="commentMsg"
            ></custom-textarea>
            <br />
            <button
              class="btn btn-success pull-right"
              (click)="addComment(_ITEM_DATA)"
            >
              Comment.
            </button>
            <br />
            <hr />
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of commentArray">
                <div fxLayout="column">
                  <div fxFlex="100">
                    <div id="reader user">
                      <ol>
                        <li> 
                          <div class="comment_box "> <a href="#"> <img  src="{{
                            item.urlAvatar
                              ? item.urlAvatar
                              : 'https://e7.pngegg.com/pngimages/829/733/png-clipart-logo-brand-product-trademark-font-not-found-logo-brand.png'
                          }}"
                          alt="avatar"> </a>
                            <div class="inside_comment">
                              <div class="comment-meta">
                                <div class="commentsuser">{{item.userName}}</div>
                                <div class="comment_date">{{item.commentDate}}</div>
                              </div>
                            </div>
                            <div class="comment-body">
                              <p>{{item.commentMsg}}</p>
                            </div>
                            <div class="reply"> <a href="#">Reply</a> </div>
                            <div class="arrow-down"></div>
                          </div>
                          <ul class="children" *ngFor="let reply of item.replies">
                            <li> 
                              <!--Comment Box 2-->
                              
                              <div class="comment_box"> <a href="#"> <img src="{{
                                reply.urlAvatar
                                  ? reply.urlAvatar
                                  : 'https://e7.pngegg.com/pngimages/829/733/png-clipart-logo-brand-product-trademark-font-not-found-logo-brand.png'
                              }}"
                              alt="avatar"> </a>
                                <div class="inside_comment">
                                  <div class="comment-meta">
                                    <div class="commentsuser">{{reply.userName}}</div>
                                    <div class="comment_date">{{reply.createOn}}</div>
                                  </div>
                                </div>
                                <div class="comment-body">
                                  <p>{{reply.replyMsg}}</p>
                                </div>
                                <div class="reply"> <a href="#">Reply</a> </div>
                                <div class="arrow-down"></div>
                              </div>

                            </li>
                          </ul>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </form>
        </div>
      </div>

      <div id="Content-Blog-Menu" fxFlex="30">
        <section class="widget popular-posts" fxLayout="column">
          <header
            class="border-bottom my-3 mb-2"
            fxFlex="row"
            fxFlexAlign="center center"
          >
            <div class="form-inline py-2">
              <span
                class="mr-md-auto title-popular-post"
                style="font-size: 24px; font-weight: 500"
                >Top bài viết có thể bạn cần
              </span>
            </div>
          </header>
          <ul class="wpp-list pl-0">
            <li>
              <a class="wpp-post-title"
                >Bạn có biết QA là gì? QC là gì? [Cập nhật 2021]</a
              >
            </li>
            <li>
              <a class="wpp-post-title"
                >Python là gì? Lập trình Python với 20 tài liệu học Python cơ
                bản đến nâng cao hay nhất</a
              >
            </li>
            <li>
              <a class="wpp-post-title"
                >Agile là gì? Scrum là gì? Quy trình vận hành ra sao?</a
              >
            </li>
            <li>
              <a class="wpp-post-title"
                >Các series “Developer Chất” từ ITviec</a
              >
            </li>
            <li>
              <a class="wpp-post-title"
                >UI UX là gì? Tại sao mọi Developer cần học UI UX?</a
              >
            </li>
          </ul>
        </section>
      </div>
    </div>
  </section>

  <section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">Related products</h2>
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img
              class="card-img-top"
              src="https://therichpost.com/wp-content/uploads/2021/05/dummyimage400x300.jpg"
              alt="..."
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <a><h5 class="fw-bolder">Fancy Product</h5></a>
                <!-- Product price-->
                $40.00 - $80.00
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" href="#"
                  >View options</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Sale badge-->
            <div
              class="badge bg-dark text-white position-absolute"
              style="top: 0.5rem; right: 0.5rem"
            >
              Sale
            </div>
            <!-- Product image-->
            <img
              class="card-img-top"
              src="https://therichpost.com/wp-content/uploads/2021/05/dummyimage400x300.jpg"
              alt="..."
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <a><h5 class="fw-bolder">Special Item</h5></a>
                <!-- Product reviews-->
                <div
                  class="d-flex justify-content-center small text-warning mb-2"
                >
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                <span class="text-muted text-decoration-line-through"
                  >$20.00</span
                >
                $18.00
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Sale badge-->
            <div
              class="badge bg-dark text-white position-absolute"
              style="top: 0.5rem; right: 0.5rem"
            >
              Sale
            </div>
            <!-- Product image-->
            <img
              class="card-img-top"
              src="https://therichpost.com/wp-content/uploads/2021/05/dummyimage400x300.jpg"
              alt="..."
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <a><h5 class="fw-bolder">Sale Item</h5></a>
                <!-- Product price-->
                <span class="text-muted text-decoration-line-through"
                  >$50.00</span
                >
                $25.00
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img
              class="card-img-top"
              src="https://therichpost.com/wp-content/uploads/2021/05/dummyimage400x300.jpg"
              alt="..."
            />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                >
                <h5 class="fw-bolder">Popular Item</h5>
                <!-- Product reviews-->
                <div
                  class="d-flex justify-content-center small text-warning mb-2"
                >
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                $40.00
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <div class="border-top my-3">
                            <div class="py-2 detail-job">
                              <div [innerHTML]="item.commentMsg"></div>
                            </div>
                          </div> -->
