<section class="section-content padding-y">
  <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
    <!-- col.// -->
    <main fxFlex="100">
      <header class="border-bottom my-3">
        <div class="form-inline py-2" fxFlex="row">
          <span class="mr-md-auto" style="font-size: 15px; font-weight: 500"
            >Information
          </span>
        </div>
      </header>
      <!-- sect-heading -->
      <div>
        <article class="mb-2 card" style="padding: 25px 0px">
          <div fxLayout="column">
            <div style="text-align: right" class="px-2" (click)="onOpenEdit()">
              <i class="fa-solid fa-pencil edit-icon"></i>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
              <div fxLayout="column" fxFlex="30" fxLayoutGap="15px" class="px-3">
                <img
                  class="custom-img px-3"
                  id="blah"
                  [src]="_DATA_FORMAT.urlLogo"
                  alt="your image"
                />
                <div fxFlex="100">
                  <label class="custom-label" for="name"
                    >Name company:
                    <span class="custom-span">{{
                      _DATA_FORMAT.nameCompany
                    }}</span>
                  </label>
                </div>
                <div fxFlex="100">
                  <label class="custom-label" for="address"
                    >Summary:
                    <span class="custom-span">{{ _DATA_FORMAT.summary }}</span>
                  </label>
                </div>
                <div fxFlex="100">
                  <label class="custom-label" for="experience"
                    >Type of company:
                    <span class="custom-span">{{
                      _DATA_FORMAT.typeCompany
                    }}</span>
                  </label>
                </div>
                <div fxFlex="100">
                  <label class="custom-label" for="address"
                    >Amount:
                    <span class="custom-span">{{ _DATA_FORMAT.amount }}</span>
                  </label>
                </div>
                <div fxFlex="100">
                  <label class="custom-label" for="address"
                    >Type of work:
                    <span class="custom-span">{{
                      _DATA_FORMAT.typeOfWork
                    }}</span>
                  </label>
                </div>
                <div fxFlex="100">
                  <label class="custom-label" for="address"
                    >Address:
                    <span class="custom-span">{{ _DATA_FORMAT.address }}</span>
                  </label>
                </div>
                <div fxFlex="100">
                  <label class="custom-label" for="address"
                    >Website:
                    <span class="custom-span">{{ _DATA_FORMAT.website }}</span>
                  </label>
                </div>
              </div>
              <div fxFlex="70">
                <div fxLayout="column" fxLayoutGap="15px">
                  <div fxLayout="column">
                    <div fxFlex="10">
                      <label class="custom-label" for="address"
                        >Description:
                      </label>
                    </div>
                    <div fxFlex="90">
                      <span class="custom-span"
                        ><div [innerHTML]="_DATA_FORMAT.descriptions"></div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- card-product .// -->
      </div>
      <div *ngIf="openEdit">
        <article class="mb-2 card" style="padding: 25px 0px">
          <div fxLayout="column">
            <form [formGroup]="updateRecruitment">
              <div fxLayout="row" fxLayoutAlign="start stretch">
                <div fxLayout="column">
                  <img
                    class="custom-img"
                    id="blah"
                    [src]="imageFile ? imageFile.link : _DATA_COMPANY.urlLogo"
                    alt="your image"
                  />
                  <input
                    type="file"
                    class="my-3"
                    accept="image/*"
                    name="imageFile"
                    id="imageFile"
                    formControlName="imageFile"
                    (change)="handleChange($event)"
                  />
                </div>
                <div fxFlex="80">
                  <div fxLayout="column" fxLayoutGap="15px" class="px-2">
                    <div fxLayout="row wrap">
                      <custom-input
                        fxFlex="33"
                        [required]="true"
                        [name]="'Name company'"
                        formControlName="nameCompany"
                        [placeholder]="'Name company'"
                        [title]="'Name company'"
                        [maxlength]="250"
                        [(ngModel)]="_DATA_COMPANY.nameCompany"
                      ></custom-input>
                      <mat-form-field
                        style="margin-left: 5px"
                        fxFlex="33"
                        appearance="outline"
                        floatLabel="always"
                      >
                        <mat-label> Type of company </mat-label>
                        <mat-select
                          formControlName="typeCompany"
                          [(ngModel)]="_DATA_COMPANY.typeCompany"
                        >
                          <mat-option>
                            <ngx-mat-select-search name="typeCompany">
                              <mat-icon ngxMatSelectSearchClear>x</mat-icon>
                            </ngx-mat-select-search>
                          </mat-option>
                          <mat-option
                            *ngFor="let item of typeCompany"
                            [value]="item.value"
                          >
                            {{ item.name }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field
                        style="margin-left: 5px"
                        fxFlex="33"
                        appearance="outline"
                        floatLabel="always"
                      >
                        <mat-label> Type of work </mat-label>
                        <mat-select
                          formControlName="typeOfWork"
                          [(ngModel)]="_DATA_COMPANY.typeOfWork"
                        >
                          <mat-option>
                            <ngx-mat-select-search name="typeOfWork">
                              <mat-icon ngxMatSelectSearchClear>x</mat-icon>
                            </ngx-mat-select-search>
                          </mat-option>
                          <mat-option
                            *ngFor="let item of typeOfWork"
                            [value]="item.value"
                          >
                            {{ item.name }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                      <custom-input
                        fxFlex="33"
                        [required]="true"
                        [name]="'Amount'"
                        formControlName="amount"
                        [placeholder]="'Amount employee'"
                        [title]="'Amount employee'"
                        [maxlength]="250"
                        [(ngModel)]="_DATA_COMPANY.amount"
                      ></custom-input>
                      <custom-input
                        fxFlex="33"
                        [required]="true"
                        [name]="'Address'"
                        formControlName="address"
                        [placeholder]="'Address company'"
                        [title]="'Address'"
                        [maxlength]="250"
                        [(ngModel)]="_DATA_COMPANY.address"
                      ></custom-input>
                      <custom-input
                        fxFlex="33"
                        [required]="true"
                        [name]="'Website'"
                        formControlName="website"
                        [placeholder]="'Website company'"
                        [title]="'Website company'"
                        [maxlength]="250"
                        [(ngModel)]="_DATA_COMPANY.website"
                      ></custom-input>
                    </div>
                    <custom-textarea
                      fxFlex="100"
                      [required]="true"
                      [name]="'Summary'"
                      formControlName="summary"
                      [placeholder]="'Summary of company'"
                      [rows]="3"
                      [title]="'Summary of company'"
                      [maxlength]="250"
                      [(ngModel)]="_DATA_COMPANY.summary"
                    ></custom-textarea>
                    <quill-editor
                      fxFlex="100"
                      [styles]="{ height: heightQuill + 'px' }"
                      [modules]="modules"
                      [(ngModel)]="_DATA_FORMAT.descriptions"
                      formControlName="descriptions"
                    ></quill-editor>
                  </div>
                </div>
              </div>
              <div fxLayoutAlign="end center">
                <custom-button
                  [type]="'save'"
                  (click)="onEdit()"
                  style="margin-right: 10px"
                ></custom-button>
              </div>
            </form>
          </div>
        </article>
        <!-- card-product .// -->
      </div>
    </main>
  </div>
</section>
