

<section class="section-content padding-y">
  <div fxLayout="row" fxLayoutGap="10px" fxFlex="100">
    <!-- col.// -->
    <main fxFlex="100">
      <header class="border-bottom my-3">
        <div class="form-inline py-2" fxFlex="row">
          <span class="mr-md-auto" style="font-size: 15px; font-weight: 500"
            >Information
          </span>
        </div>
      </header>
      <!-- sect-heading -->
      <div>
        <article class="mb-2 card" style="padding: 25px 0px">
          <div fxLayout="column">
            <div style="text-align: right" class="px-2" (click)="onOpenEdit()">
              <i class="fa-solid fa-pencil edit-icon"></i>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="row" fxFlex="20">
                <img
                  class="custom-img px-3"
                  id="blah"
                  [src]="currentUser?.urlAvatar"
                  alt="your image"
                />
              </div>
              <div fxFlex="80">
                <div fxLayout="column" fxLayoutGap="15px">
                  <div fxLayout="row">
                    <div fxFlex="10">
                      <label class="custom-label" for="name">name:</label>
                    </div>
                    <div fxFlex="90">
                      <span class="custom-span">{{currentUser?.fullName}}</span>
                    </div>
                  </div>
                  <div fxLayout="row">
                    <div fxFlex="10">
                      <label class="custom-label" for="major">Major: </label>
                    </div>
                    <div fxFlex="90">
                      <span class="custom-span">{{currentUser?.nameMajor}}</span>
                    </div>
                  </div>
                  <div fxLayout="row">
                    <div fxFlex="10">
                      <label class="custom-label" for="experience"
                        >Experience:
                      </label>
                    </div>
                    <div fxFlex="90">
                      <span class="custom-span">{{currentUser?.experience}}</span>
                    </div>
                  </div>
                  <div fxLayout="row">
                    <div fxFlex="10">
                      <label class="custom-label" for="phone">Phone: </label>
                    </div>
                    <div fxFlex="90">
                      <span class="custom-span">{{currentUser?.phoneNumber}}</span>
                    </div>
                  </div>
                  <div fxLayout="row">
                    <div fxFlex="10">
                      <label class="custom-label" for="address"
                        >Address:
                      </label>
                    </div>
                    <div fxFlex="90">
                      <span class="custom-span">{{currentUser?.address}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- card-product .// -->
      </div>
      <div *ngIf="openEdit">
        <article class="mb-2 card" style="padding: 25px 0px">
          <div fxLayout="column">
            <form [formGroup]="updateUser">
              <div fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column">
                  <img
                    class="custom-img"
                    id="blah"
                    [src]="imageFile ? imageFile.link : currentUser.urlAvatar"
                    alt="your image"          
                  />
                  <input
                    type="file"
                    class="my-3"
                    accept="image/*"
                    name="imageFile"
                    id="imageFile"
                    formControlName="imageFile"
                    (change)="handleChange($event)"
                  />
                </div>
                <div fxFlex="80">
                  <div fxLayout="column" fxLayoutGap="15px">
                    <div fxLayout="row">
                      <custom-input
                        fxFlex="50"
                        [required]="true"
                        [name]="'firstname'"
                        formControlName="firstname"
                        [placeholder]="'first name'"
                        [title]="'first name'"
                        [maxlength]="250"
                        [(ngModel)]="currentUser.firstName"
                      ></custom-input>
                      <custom-input
                        fxFlex="50"
                        [required]="true"
                        [name]="'lastname'"
                        formControlName="lastname"
                        [placeholder]="'Last name'"
                        [title]="'Last name'"
                        [maxlength]="250"
                        [(ngModel)]="currentUser.lastName"
                      ></custom-input>
                    </div>

                    <div fxLayout="row">
                      <mat-form-field
                        style="margin-left: 5px"
                        fxFlex="33,33%"
                        appearance="outline"
                        floatLabel="always"
                      >
                        <mat-label> Experience </mat-label>
                        <mat-select formControlName="experience" [(ngModel)]="currentUser.experience">
                          <mat-option>
                            <ngx-mat-select-search name="experience">
                              <mat-icon ngxMatSelectSearchClear>x</mat-icon>
                            </ngx-mat-select-search>
                          </mat-option>
                          <mat-option
                            *ngFor="let item of listExperience"
                            [value]="item.value"
                          >
                            {{ item.name }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row">
                      <custom-input
                        fxFlex="100"
                        [required]="true"
                        [name]="'phonenumber'"
                        formControlName="phonenumber"
                        [placeholder]="'Phone'"
                        [title]="'Phone'"
                        [maxlength]="250"
                        [(ngModel)]="currentUser.phoneNumber"
                      ></custom-input>
                    </div>
                    <div fxLayout="row">
                      <custom-input
                        fxFlex="100"
                        [required]="true"
                        [name]="'address'"
                        formControlName="address"
                        [placeholder]="'Address'"
                        [title]="'Address'"
                        [maxlength]="250"
                        [(ngModel)]="currentUser.address"
                      ></custom-input>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayoutAlign="end center">
                <custom-button
                  [type]="'save'"
                  (click)="onEdit()"
                  style="margin-right: 10px"
                ></custom-button>
              </div>
            </form>
          </div>
        </article>
        <!-- card-product .// -->
      </div>
    </main>
  </div>
</section>
