
<div class="w-full h-full page-content" fxLayout="row">
  <div
    fxFlex="100%"
    fxLayout="column"
    fxLayoutAlign="center center"
    class="main-wrapper"
  >

  <div class="layout" fxLayout="row">
    <mat-card class="box" @fadeInUp fxFlex="100" >
      <mat-card-header>
        <div class="mt-2">
          <h1 class="welcome">WelcomeBack Register Recruitment</h1>
          <h4 class="detail">Go Go jobs is waiting for you</h4>
        </div>
  
      </mat-card-header>
  
      <div @fadeInUp class="overflow-hidden w-full max-w-xl">
        <form
          [formGroup]="formGroup"
          class="p-6 example-form "
          fxLayout="column"
          fxLayoutGap="16px"
          (ngSubmit)="onSubmit()"
        >
        <mat-card-content>
          <div fxFlex="auto" fxLayout="column">
            <mat-form-field appearance="outline" floatLabel="always" style="width: 100%">
              <mat-label>First name</mat-label>
              <input formControlName="firstName" matInput required />
              <mat-error *ngIf="formGroup.get('firstName')?.hasError('required')"
              >We need a first name to log you in
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always" style="width: 100%">
              <mat-label>Last name</mat-label>
              <input formControlName="lastName" matInput required />
              <mat-error *ngIf="formGroup.get('lastName')?.hasError('required')"
              >We need a last name to log you in
            </mat-error>
          </mat-form-field>
            <mat-form-field
              appearance="outline"
              floatLabel="always"
              style="width: 100%"
            >
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput required />
              <mat-error *ngIf="formGroup.get('email')?.hasError('required')"
                >We need a email to log you in
              </mat-error>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              floatLabel="always"
              style="width: 100%"
            >
              <mat-label>Password</mat-label>
              <input
                [type]="'password'"
                formControlName="password"
                matInput
                required
              />
              <mat-error *ngIf="formGroup.get('password')?.hasError('required')"
                >We need a password to log you in
              </mat-error>
            </mat-form-field>
  
            <mat-form-field
              appearance="outline"
              floatLabel="always"
              style="width: 100%"
            >
              <mat-label>Name company</mat-label>
              <input formControlName="nameCompany" matInput required />
              <mat-error
                *ngIf="formGroup.get('nameCompany')?.hasError('required')"
                >We need a name company
              </mat-error>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              floatLabel="always"
              style="width: 100%"
            >
              <mat-label>Website</mat-label>
              <input formControlName="website" matInput required  type="url" />
              <mat-error *ngIf="formGroup.get('website')?.hasError('required')"
                >We need your website
              </mat-error>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              floatLabel="always"
              style="width: 100%"
            >
              <mat-label>Fax</mat-label>
              <input formControlName="fax" matInput required />
              <mat-error *ngIf="formGroup.get('fax')?.hasError('required')"
                >We need your fax
              </mat-error>
            </mat-form-field>
            <div fxLayout="column" fxLayoutAlign="center center">
              <img
                class="custom-img"
                id="blah"
                [src]="imageFile ? imageFile.link : defaultImageSrc"
                alt="your image"
              />
              <input
                type="file"
                class="my-3"
                accept="image/*"
                name="imageFile"
                id="imageFile"
                formControlName="imageFile"
                (change)="onFileChange($event)"
              />
            </div>
          </div>  
            </mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
              <button fxFlex="50" type="button" color="primary" class="button-login" mat-raised-button (click)="onCancel()">Cancel</button>
              <button fxFlex="50" type="submit" color="primary" class="button-login" mat-raised-button [disabled]="!formGroup.valid">Sign up</button>
            </div>
        </form>
      </div>
    </mat-card>

  </div>
  </div>
  
</div>
