<div fxFlex.gt-md="100%" fxFlex.lg="100%" fxLayoutAlign="center center" fxFlexFill>
  <div fxLayout="row wrap" fxFlexFill fxLayout.lt-sm="column" fxLayoutAlign="start stretch">
    <custom-table
  [columns]="columns"
  [rows]="_LIST_DATA"
  [pagingParams]="_PagingParams"
  [showAddButton]="false"
  [heightTb]="755"
  (onCheckedRows)="onCheckedRows($event)"
  (onPageChanged)="onPageChanged($event)"
  (onRowClick)="onRowClick($event)"
  (onEdit)="onEdit($event)"
  (onDelete)="onDelete($event)"
>
</custom-table>
  </div>
</div>
