<app-header> </app-header>
<div>
    <div class="row">
        <div class="container-xxl">
            <div class="card">
                <div class="card-header">
                    <h3 class="float-left">
                        <i class="fa fa-comments"></i> SignalR Messaging
                    </h3>
                </div>
                <div class="card-body p-0">
                    <div class="messaging">
                        <div class="inbox_msg" fxLayout="row" fxLayoutAlign="start end">
                            <div class="inbox_people" fxLayout="column">
                                <div class="headind_srch" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
                                    <div class="srch_bar" fxLayoutAlign="start strech" fxFlex="100" style="width:100%;">
                                        <div fxLayout="row" fxLayoutAlign="start center" style="width:100%;">
                                            <input type="text" class="search-bar" placeholder="Search" style="width:100%;">
                                            <span class="input-group-addon">
                                                <button type="button"> <i class="fa fa-search" 
                                                    aria-hidden="true"></i> </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="recent_heading">
                                        <h5>Online Users</h5>
                                    </div>
                                </div>
                                <div class="inbox_chat">
                                    <div class="chat_list active_chat" *ngFor="let user of onlineUser">
                                        <a href="javascript:void(0)" >
                                            <div class="chat_people">
                                                <div class="chat_ib">
                                                    <h5>
                                                        <i class="fa fa-comments"></i>
                                                        {{user.userName}}
                                                    </h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="mesgs" fxLayout="column" fxLayoutAlign="start strech">
                                <div class="text-left">
                                    <h3><i class="fa fa-comments"></i> {{currentUser.fullName}}</h3>
                                    <hr />
                                </div>
                                <div class="msg_history" #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="chatMessages.length>0">
                                    <div *ngFor="let msg of chatMessages" style="margin-bottom:2px;">
                                        <div class="incoming_msg" *ngIf="msg.messagestatus == 'received'">
                                            <div class="received_msg">
                                                <div class="received_withd_msg">
                                                    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                                                        <div class="mb-1">
                                                            <img class="imgUser" [src]="currentUser.urlAvatar" alt="profile.">
                                                            <span class="time_date">
                                                                {{msg.senderid}} | {{msg.DateSend | date :  "shortTime"}}
                                                            </span>
                                                        </div>
                                                        <p>
                                                            {{msg.Msg}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="outgoing_msg" *ngIf="msg.messagestatus == 'sent'">
                                            <div class="sent_msg">
                                                <div fxLayout="row" fxLayoutAlign="start end">
                                                    <p>
                                                        {{msg.msg}}
                                                    </p>
                                                    <img class="imgUser" [src]="currentUser.urlAvatar" alt="profile.">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="msg_history" *ngIf="chatMessages.length===0">
                                    <p style="font-size:small; color:#dedede; text-align:center">
                                        No Message Found..
                                    </p>
                                </div>
                                <div class="type_msg mb-2">
                                    <form [formGroup]="messageCreated">
                                        <div class="input_msg_write">
                                            <div style=" min-width: 0;">
                                                <input type="text" style="margin-bottom: 0;" 
                                                class="write_msg"
                                                       placeholder="Type a message" onfocus="this.placeholder=''" onblur="this.placeholder='Type a message'"
                                                        formControlName="message"
                                                       />

                                            </div>
                                            <button class="msg_send_btn" type="submit" (click)="sendMessage($event);">
                                                <i class="fa fa-paper-plane-o"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>