<div
  id="ContentsLayout-Blog"
  fxFlex="100"
  fxLayout="row"
  fxLayoutAlign="center"
>
  <div id="Content-Blog">
    <div
      *ngFor="
        let item of _LIST_DATA
          | paginate
            : {
                itemsPerPage: 10,
                currentPage: _PagingParams.currentPage,
                totalItems: _PagingParams.totalRows
              }
      "
    >
      <article class="card" style="padding: 20px">
        <div class="tag-major">
          <span class="tag tag-teal" style="width: 200px">{{
            item.nameMajor
          }}</span>
        </div>
        <div class="card-header">
          <img
            src="{{ item.image }}"
            [routerLink]="['/detail-blog', item.idBlog]"
            [queryParams]="{ debug: true }"
          />
        </div>
        <div class="card-body">
          <a
            class="title"
            [routerLink]="['/detail-blog', item.idBlog]"
            [queryParams]="{ debug: true }"
          >
            {{ item.title }}
          </a>
          <a class="user">
            <img
              src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo"
              alt="user"
            />
            <div class="user-info">
              <span>{{ item.nameUser }}</span>
            </div>
          </a>
          <div fxLayout="column" class="footer-item">
            <p>
              {{ item.summary }}
            </p>
            <a
              class="btn-readmore"
              [routerLink]="['/detail-blog', item.idBlog]"
              [queryParams]="{ debug: true }"
            >
              Đọc tiếp
            </a>
          </div>
        </div>
      </article>
      <!-- card-product .// -->
    </div>
    <pagination-controls
      (pageChange)="_PagingParams.currentPage = $event"
    ></pagination-controls>
  </div>
  <div id="Content-Blog-Menu">
    <section class="widget popular-posts" fxLayout="column">
      <header
        class="border-bottom my-3 mb-2"
        fxFlex="row"
        fxFlexAlign="center center"
      >
        <div class="form-inline py-2">
          <span
            class="mr-md-auto title-popular-post"
            style="font-size: 24px; font-weight: 500"
            >Top bài viết có thể bạn cần
          </span>
        </div>
      </header>
      <ul class="wpp-list pl-0" *ngFor="let item of dataFilterByMajor">
        <li>
          <a class="wpp-post-title">{{ item.title }}</a>
        </li>
      </ul>
    </section>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
