.my-profile {
  margin: 30px auto;
  max-width: 1350px;
}
:host::ng-deep .mat-expansion-panel {
  box-shadow: none;
}
:host::ng-deep mat-expansion-panel-header {
  padding: 0;
  &:hover {
    background-color: transparent !important;
    cursor: auto !important;
  }
}

:host::ng-deep .mat-expansion-panel-body {
  padding: 0;
  margin-top: 30px;
}

#ContentsLayout-Blog {
  width: 1140px;
  min-height: 400px;
  margin: 20px auto 0 auto;
}

#Content-Blog-Menu {
  background-color: white;
  .popular-posts {
    background-color: #ffffff;
    box-shadow: #000000 0px 0px 1px 0px;
    color: #221f20;
    letter-spacing: 0.3px;
    line-height: 28.8px;
    padding: 30px;
    .title-popular-post {
      color: #ea1e30;
      font-family: "Roboto", Condensed;
      font-size: 24px;
      letter-spacing: 0.6px;
      line-height: 38.4px;
      margin: 0px 0px 24px;
    }
  }
  .wwp-list {
    color: #221f20;
    display: inline;
    font-family: Roboto;
    letter-spacing: 0.3px;
    line-height: 28.8px;
    text-align: left;
    li {
      display: list-item;
      margin: 0px 0px 16px;
      text-align: left;
    }
  }
}
.custom-img {
  object-fit: cover;
  max-width: 200px;
  max-height: 200px;
  height: 300px;
  width: 100%;
  border-radius: 50%;
  height: auto;
}

#Content-Blog {
  width: 750px;
  min-height: 400px;
  float: left;
  background-color: white;
}

.card-body {
  padding: 20px;
  min-height: 250px;
}

.card-body p {
  font-size: 13px;
}
.user {
  margin-top: auto;
  img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  h5 {
    margin: 0;
  }
  small {
    color: #545d7a;
  }
}
.active-border:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
