<div>
  <div>Header</div>
  <div>
    <form [formGroup]="employeeCreated">
      <div class="w-full h-full page-content main mt-2" fxLayout="row">
        <div
          fxFlex.gt-sm="20%"
          fxFlex="100%"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <img
            class="custom-img"
            id="blah"
            [src]="imageFile ? imageFile.link : defaultImageSrc"
            alt="your image"
          />
          <input
            type="file"
            class="my-3"
            accept="image/*"
            name="imageFile"
            id="imageFile"
            formControlName="imageFile"
            (change)="handleChange($event)"
          />
        </div>
        <div
          fxFlex.gt-sm="80%"
          fxHide
          fxShow.gt-sm
          fxLayout="column"
          fxLayoutAlign="left left"
        >
          <div>
            <custom-textarea
              [required]="true"
              [name]="'title'"
              formControlName="title"
              [placeholder]="'Title blog'"
              [title]="'Title blog'"
              [maxlength]="250"
            ></custom-textarea>

            <div fxLayoutAlign="center center">
              <mat-form-field
                fxFlex="100"
                appearance="outline"
                floatLabel="always"
                style="width: 100%"
              >
                <mat-label> Major </mat-label>
                <mat-select formControlName="idMajor">
                  <mat-option>
                    <ngx-mat-select-search
                      name="idMajor"
                      [(ngModel)]="search"
                      formControlName="search"
                      [placeholderLabel]="'Search'"
                      [noEntriesFoundLabel]="'NotFound'"
                    >
                      <mat-icon ngxMatSelectSearchClear>x</mat-icon>
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option
                    *ngFor="let item of comboxMajor"
                    [value]="item.idMajor"
                  >
                    {{ item.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <custom-textarea
                fxFlex="100"
                [required]="true"
                [name]="'summary'"
                formControlName="summary"
                [placeholder]="'summary of post'"
                [title]="'Summary of post'"
                [rows] = "10"
                [maxlength]="250"
              ></custom-textarea>
            </div>
          </div>
        </div>
      </div>
      <div>
        <quill-editor
          [styles]="{ height: '40vh' }"
          [modules]="modules"
          formControlName="description"
        ></quill-editor>
      </div>

      <div
        class="mt-3"
        fxLayout="row wrap"
        fxLayoutGap="10px"
        fxLayout.lt-sm="column"
        fxFlexFill
        fxLayoutAlign="end center"
      >
        <custom-button [type]="'save'" (click)="onSubmit()"></custom-button>
        <custom-button [type]="'reset'" (click)="onReset()"></custom-button>
      </div>
    </form>
  </div>
</div>
