<vex-page-layout>
    <vex-page-layout-content class.container="'true'" class.px-gutter="'fullwidth'">
        <div class="card overflow-auto">
            <div class="bg-app-bar px-3 h-8 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <div *ngIf="title">
                    <span class="title-table">{{ title  }}</span>
                    <span class="border-left-title"></span>
                </div>
                <div class="bg-card rounded-full border px-1" fxFlex="700px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchCtrl" class="px-1 border-0 outline-none w-full bg-transparent" [placeholder]="'Search' " type="search" />
                </div>
                <span fxFlex></span>
                <button class="ml-4" (click)="handleAdd()" *ngIf="showAddButton">
                    <i class="fa-solid fa-circle-plus fa-2xl add-icon"></i>
                </button>
                <button *ngIf="showFilterButton" [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button matTooltip="Filter Columns" type="button">
                    <mat-icon>filter_list</mat-icon>
                </button>
            </div>

            <div class="wrapper-table" [ngStyle]="{ height: heightTable + 'px', overflow: 'auto' }">
                <div *ngIf="!dataSource">No records found</div>

                <table @stagger *ngIf="dataSource" [dataSource]="dataSource" class="w-full" mat-table matSort>
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="checkboxCol">
                        <th *matHeaderCellDef mat-header-cell>
                            <mat-checkbox
                                (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                color="primary"
                            >
                            </mat-checkbox>
                        </th>
                        <td *matCellDef="let row" class="w-4" mat-cell>
                            <mat-checkbox (change)="$event ? onChangeRow(row) : null" (click)="$event.stopPropagation()" [checked]="selection.isSelected(row)" color="primary">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <!-- Index Column -->
                    <ng-container matColumnDef="index">
                        <th *matHeaderCellDef mat-header-cell>No</th>
                        <td class="w-6" mat-cell *matCellDef="let i = index">
                            {{ paginator.pageIndex * paginator.pageSize + (i + 1) }}
                        </td>
                    </ng-container>

                    <!-- Image Column -->
                    <!-- <ng-container matColumnDef="image">
                        <th *matHeaderCellDef mat-header-cell></th>
                        <td *matCellDef="let row" class="w-6 min-w-6 pr-0" mat-cell>
                            <img [src]="row['imageSrc']" class="avatar h-6 w-6 align-middle" />
                        </td>
                    </ng-container> -->

                    <!-- Label Column -->
                    <ng-container matColumnDef="labels">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header>Labels</th>
                        <td *matCellDef="let row" mat-cell>
                            <div (click)="$event.stopPropagation()" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <div *ngFor="let label of row.labels" [ngClass]="[label.textClass, label.bgClass]" class="rounded px-2 py-1 font-medium text-xs" fxFlex="none">
                                    {{ label.text }}
                                </div>
                            </div>
                        </td>
                    </ng-container>
                    <!-- merge column -->
                    <ng-container *ngIf="columnsMerge.length > 0 || arrColMerge.length > 0">
                        <ng-container *ngFor="let column of columnsMerge; trackBy: trackByProperty">
                            <ng-container [matColumnDef]="column.field">
                                <th mat-header-cell *matHeaderCellDef [style.text-align]="'center'" [attr.colspan]="column.colSpan" mat-sort-header>
                                    {{ column.label }}
                                </th>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="arrColMerge; sticky: true"></tr>
                    </ng-container>

                    <!-- Text Columns -->
                    <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                        <!-- TYPE TEXT -->
                        <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>
                                {{ column.label  }}
                            </th>
                            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                                {{ row[column.property] }}
                            </td>
                        </ng-container>

                        <!-- TYPE CHECKBOX -->
                        <ng-container *ngIf="column.type === 'checkbox'" [matColumnDef]="column.property">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>
                                {{ column.label }}
                            </th>
                            <td *matCellDef="let row" class="text-center" [ngClass]="column.cssClasses" mat-cell>
                                <mat-checkbox [checked]="row[column.property]" [class.mat-checkbox-disabled]="false" [disabled]="disable" (change)="checkToActive($event)"> </mat-checkbox>
                            </td>
                        </ng-container>
                        <!-- TYPE YES OR NO -->
                        <ng-container *ngIf="column.type === 'yn'" [matColumnDef]="column.property">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>
                                {{ column.label }}
                            </th>
                            <td *matCellDef="let row" class="text-center" [ngClass]="column.cssClasses" mat-cell>
                                <ng-container *ngIf="row[column.property] === true">Y</ng-container>
                                <ng-container *ngIf="row[column.property] !== true">N</ng-container>
                            </td> </ng-container
                        ><!-- TYPE ACTIVED OR INACTIVED -->
                        <ng-container *ngIf="column.type === 'buttonYn'" [matColumnDef]="column.property">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>
                                {{ column.label }}
                            </th>
                            <td *matCellDef="let row" class="text-center" [ngClass]="column.cssClasses" mat-cell>
                                <ng-container *ngIf="row[column.property] === true"><span class="button-active">Active</span></ng-container>
                                <ng-container *ngIf="row[column.property] !== true"><span class="button-inactive">InActive</span></ng-container>
                            </td>
                        </ng-container>
                        <!-- TYPE BUTTONS -->
                        <ng-container *ngIf="column.type === 'button'" [matColumnDef]="column.property">
                            <th mat-header-cell *matHeaderCellDef>{{ column.label  }}</th>
                            <td mat-cell *matCellDef="let element" [ngClass]="column.cssClasses" class="action-content">
                                <button (click)="handleEdit(element)" ><i *ngIf="column.buttons.includes('edit') === true" class="fa-solid fa-pencil edit-icon"></i></button>
                                <button (click)="handleDelete(element)"> <i *ngIf="column.buttons.includes('delete') === true"  class="fa-solid fa-xmark delete-icon"></i></button>
                            </td>
                        </ng-container>
                        <!-- TYPE PROGRESS_BAR -->
                        <ng-container *ngIf="column.type === 'progress'" [matColumnDef]="column.property">
                            <th mat-header-cell *matHeaderCellDef>{{ column.label  }}</th>
                            <td mat-cell *matCellDef="let element" [ngClass]="column.cssClasses" class="action-content">
                                <mat-progress-bar class="example-margin" [color]="'primary'" [mode]="'determinate'" [value]="50" [bufferValue]="75"> </mat-progress-bar>
                            </td>
                        </ng-container>

                        
                    <ng-container *ngIf="column.type === 'image'" [matColumnDef]="column.property">
                        <th *matHeaderCellDef mat-header-cell>
                            {{ column.label }}
                        </th>
                        <td *matCellDef="let row" class="w-20 min-w-20 h-20 min-h-20 pr-0" mat-cell>
                            <img [src]="row[column.property]" class="avatar h-20 w-20 rounded-full ring-2 ring-white object-contain hover:object-scale-down" />
                        </td>
                    </ng-container>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="visibleColumns; sticky: true"></tr>
                    <tr
                        *matRowDef="let row; columns: visibleColumns"
                        @fadeInUp
                        class="hover:bg-hover trans-ease-out cursor-pointer"
                        mat-row
                        (click)="handleRowClick(row)"
                        (dblclick)="handleRowDbClick(row)"
                        [ngClass]="{ selected: row === selectedRow }"
                    ></tr>
                </table>
            </div>
            <div [style.display]="showPaginator ? 'block' : 'none'">
                <mat-paginator
                    #paginator
                    [length]="pagingParams.totalRows"
                    [pageIndex]="pagingParams.currentPage"
                    [pageSize]="pagingParams.pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="pageChanged($event)"
                >
                </mat-paginator>
                <!-- </div> -->
            </div>
        </div>
    </vex-page-layout-content>
</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns" class="checkbox-item mat-menu-item">
        <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
            {{ column.label }}
        </mat-checkbox>
    </button>
</mat-menu>
