<!-- <div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
></div>
<div class="content-container">
  <div class="container-fluid px-4">
    <div class="body">
      <div class="row">
        <div class="col">
          <div class="bg-light rounded">
            <div class="main">
              <div class="h-100 w-100 custom-card">
                <div class="card-header text-center">
                  <h2 class="text-white text-custom fw-bold">Add new jobs</h2>
                </div>
                <div class="card-body">
                  <form
                    (ngSubmit)="onSubmit()"
                    [formGroup]="employeeCreated"
                    action="javascript:void(0)"
                    enctype="multipart/form-data"
                  >
                    <div class="row">
                      <div class="col-md-4">
                        <div class="text-center">
                          <img
                            class="custom-img"
                            id="blah"
                            [src]="imageFile ? imageFile.link : defaultImageSrc"
                            alt="your image"
                          />
                          <input
                            type="file"
                            class="my-3"
                            accept="image/*"
                            name="imageFile"
                            id="imageFile"
                            formControlName="imageFile"
                            (change)="handleChange($event)"
                          />
                        </div>

                        <div class="form-group">
                          <label for="nameCompany">Name company</label>
                          <input
                            matInput
                            type="text"
                            class="form-control"
                            id="nameCompany"
                            name="nameCompany"
                            formControlName="nameCompany"
                            [value]="JobsObject.nameCompany"
                            [(ngModel)]="JobsObject.nameCompany"
                          />
                        </div>

                        <div class="form-group">
                          <label for="name">Name Jobs</label>
                          <input
                            matInput
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            formControlName="name"
                            [value]="JobsObject.name"
                            [(ngModel)]="JobsObject.name"
                          />
                        </div>

                        <div class="form-group">
                          <label for="dateExpire">Date expire</label>
                          <input
                            matInput
                            type="date"
                            class="form-control"
                            id="dateExpire"
                            name="dateExpire"
                            formControlName="dateExpire"
                            [min]="currentDate | date: 'yyyy-MM-dd'"
                            [(ngModel)]="dateExpire"
                          />
                        </div>

                        <div class="form-group">
                          <label for="tag">Tag Jobs</label>
                          <ng-multiselect-dropdown
                            id="tag"
                            name="tag"
                            formControlName="tag"
                            [placeholder]="'custom placeholder'"
                            [settings]="dropdownSettings"
                            [data]="listTagJobs"
                            (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                          >
                          </ng-multiselect-dropdown>
                        </div>

                        <div class="form-group">
                          <label for="description">Description</label>

                          <quill-editor
                            [styles]="{ maxHeight: '79%' }"
                          ></quill-editor>
                        </div>
                      </div>

                      <div class="col">
                        <div class="bg-light rounded">
                          <table
                            mat-table
                            class="mat-elevation-z8"
                            [dataSource]="dataSource"
                          >
                            <ng-container matColumnDef="logo">
                              <th mat-header-cell *matHeaderCellDef>Logo</th>
                              <td mat-cell *matCellDef="let element">
                                <img
                                  src="{{ element.imageSrc }}"
                                  alt="logo"
                                  style="
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50px;
                                  "
                                />
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef>
                                Name company
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.name }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="type">
                              <th mat-header-cell *matHeaderCellDef>
                                Kind of company
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.type }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="address">
                              <th mat-header-cell *matHeaderCellDef>address</th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.address }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="dateWork">
                              <th mat-header-cell *matHeaderCellDef>
                                Date Work
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.dateWork }}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="active">
                              <th mat-header-cell *matHeaderCellDef>Active</th>
                              <td mat-cell *matCellDef="let element">
                                <mat-slide-toggle
                                  class="mr-2"
                                  [checked]="element.active"
                                ></mat-slide-toggle>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="options">
                              <th mat-header-cell *matHeaderCellDef>Options</th>
                              <td mat-cell *matCellDef="let element">
                                <button
                                  class="btn btn-danger"
                                  (click)="onClickDelete(element.idCompany)"
                                >
                                  Remove
                                </button>
                              </td>
                            </ng-container>

                            <tr
                              mat-header-row
                              *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                              mat-row
                              *matRowDef="let row; columns: displayedColumns"
                              (click)="handleClick(row)"
                            ></tr>
                          </table>
                        </div>
                        <mat-paginator
                          [length]="100"
                          [pageSize]="10"
                          [pageSizeOptions]="[5, 10, 25, 100]"
                          aria-label="Select page"
                        >
                        </mat-paginator>
                        <div
                          [hidden]="hidden"
                          *ngIf="JobAfterSpiltTag"
                          [ngStyle]="{ style: display }"
                        >
                          <div
                            class="div"
                            *ngFor="let item of JobAfterSpiltTag"
                          >
                            <div class="row">
                              <div class="col-md-12 mt-3">
                                <div
                                  class="card card-body mt-3"
                                  (keyup)="(item)"
                                >
                                  <div
                                    class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row"
                                  >
                                    <div class="mr-2 mb-3 mb-lg-0">
                                      <img
                                        src="{{ item.imageSrc }}"
                                        width="100"
                                        height="100"
                                        alt=""
                                      />
                                    </div>
                                    <div class="media-body">
                                      <ul
                                        class="list-inline list-inline-dotted mb-3 mb-lg-2"
                                      >
                                        <li class="list-inline-item">
                                          <a
                                            href="#"
                                            class="text-muted"
                                            data-abc="true"
                                            >{{ item.nameJobs }}</a
                                          >
                                        </li>
                                      </ul>

                                      <ul
                                        class="list-inline list-inline-dotted mb-0"
                                      >
                                        <li class="list-inline-item d-plex">
                                          Skill need:
                                          <mat-chip-list
                                            class="example-chip"
                                            style="max-width: 100px"
                                          >
                                            <mat-chip
                                              class="example-box"
                                              cdkDrag
                                              *ngFor="let item1 of item.tag"
                                            >
                                              {{ item1.name }}
                                            </mat-chip>
                                          </mat-chip-list>
                                        </li>
                                      </ul>
                                    </div>
                                    <div
                                      class="mt-3 mt-lg-0 ml-lg-3 text-center"
                                    >
                                      <h3 class="mb-0 font-weight-semibold">
                                        hot
                                      </h3>
                                      <div class="text-muted">
                                        {{ item.dayLeft }}d
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div
                          class="form-group footer-card d-flex justify-content-between"
                        >
                          <button
                            type="button"
                            class="btn fs-3 text-white rounded-pill"
                          >
                            Clear
                          </button>
                          <button
                            type="submit"
                            class="btn fs-3 text-white rounded-pill"
                          >
                            Create
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div>
  <div>Header</div>
  <div>
    <form
      [formGroup]="employeeCreated"
    >
      <div class="w-full h-full page-content main mt-2" fxLayout="row">
        <div
          fxFlex.gt-sm="20%"
          fxFlex="100%"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <img
            class="custom-img"
            id="blah"
            [src]="imageFile ? imageFile.link : defaultImageSrc"
            alt="your image"
          />
          <input
            type="file"
            class="my-3"
            accept="image/*"
            name="imageFile"
            id="imageFile"
            formControlName="imageFile"
            (change)="handleChange($event)"
          />
        </div>
        <div
          fxFlex.gt-sm="80%"
          fxHide
          fxShow.gt-sm
          fxLayout="column"
          fxLayoutAlign="left left"
        >
          <div>
            <custom-input
              [required]="true"
              [name]="'nameCompany'"
              formControlName="nameCompany"
              [placeholder]="'Name company'"
              [title]="'Name company'"
              [maxlength]="250"
              [(ngModel)]="JobsObject.nameCompany"
            ></custom-input>

            <custom-input
              [required]="true"
              [name]="'name'"
              formControlName="name"
              [placeholder]="'Name Jobs'"
              [title]="'Name Jobs'"
              [maxlength]="250"
              [(ngModel)]="JobsObject.name"
            ></custom-input>

            <div fxLayoutAlign="center center">
              <mat-form-field
                fxFlex="50%"
                appearance="outline"
                floatLabel="always"
                style="width: 100%"
              >
                <mat-label> Jobs </mat-label>
                <mat-select
                  formControlName="check"
                  [(ngModel)]="check"
                  (selectionChange)="select()"
                >
                  <mat-option>
                    <ngx-mat-select-search name="name">
                      <mat-icon ngxMatSelectSearchClear>x</mat-icon>
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let item of listMajorJobs" [value]="item">
                    {{ item }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <custom-input
                style="margin-left: 5px"
                fxFlex="50%"
                [required]="true"
                [name]="'positon'"
                formControlName="positon"
                [placeholder]="'positon'"
                [title]="'positon'"
                [maxlength]="250"
              ></custom-input>
            </div>

            <div
              class="form-group"
              style="padding-bottom: 1.34375em"
              *ngIf="check === 'IT'"
            >
              <label for="tag">Tag Jobs</label>
              <ng-multiselect-dropdown
                id="tag"
                name="tag"
                formControlName="tag"
                [placeholder]="'custom placeholder'"
                [settings]="dropdownSettings"
                [data]="listTagJobs"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
              >
              </ng-multiselect-dropdown>
            </div>

            <div>
              <custom-input
                fxFlex="33,33%"
                [required]="true"
                [name]="'amount'"
                formControlName="amount"
                [placeholder]="'amount'"
                [title]="'Amount'"
                [maxlength]="250"
              ></custom-input>
              <mat-form-field
                style="margin-left: 5px"
                fxFlex="33,33%"
                appearance="outline"
                floatLabel="always"
              >
                <mat-label> Experience </mat-label>
                <mat-select
                  formControlName="experience"
                  [(ngModel)]="experience"
                  (selectionChange)="select()"
                >
                  <mat-option>
                    <ngx-mat-select-search name="experience">
                      <mat-icon ngxMatSelectSearchClear>x</mat-icon>
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option
                    *ngFor="let item of listExperienceJobs"
                    [value]="item"
                  >
                    {{ item }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <custom-input
                style="margin-left: 5px"
                fxFlex="33,33%"
                [required]="true"
                [name]="'workTime'"
                formControlName="workTime"
                [placeholder]="'workTime'"
                [title]="'WorkTime'"
                [maxlength]="250"
              ></custom-input>
            </div>

            <div>
              <custom-input
                fxFlex="50%"
                [required]="true"
                [name]="'salaryMin'"
                formControlName="salaryMin"
                [placeholder]="'salaryMin'"
                [title]="'SalaryMin'"
                [maxlength]="250"
              ></custom-input>
              <custom-input
                style="margin-left: 5px"
                fxFlex="50%"
                [required]="true"
                [name]="'salaryMax'"
                formControlName="salaryMax"
                [placeholder]="'salaryMax'"
                [title]="'SalaryMax'"
                [maxlength]="250"
              ></custom-input>
            </div>
            <div>
              <custom-input
                style="margin-left: 5px"
                fxFlex="50"
                [required]="true"
                [name]="'address'"
                formControlName="address"
                [placeholder]="'address'"
                [title]="'Address'"
                [maxlength]="250"
              ></custom-input>

              <custom-input-date
                style="margin-left: 5px"
                fxFlex="50"
                fxFlex.sm="100"
                [title]="'Date Expire'"
                [name]="'dateExpire'"
                [(ngModel)]="getDateExpire"
                formControlName="dateExpire"
              >
              </custom-input-date>
            </div>
          </div>
        </div>
      </div>
      <div>
        <quill-editor
          [styles]="{ height: '300px' }"
          [modules]="modules"
          formControlName="descriptions"
          (onContentChanged)="onChange($event)"
        ></quill-editor>
      </div>

        <div
          fxLayout="row wrap"
          fxLayoutGap="10px"
          fxLayout.lt-sm="column"
          fxFlexFill
          fxLayoutAlign="end center"
        >
          <custom-button [type]="'save'" (click)="onSubmit()"></custom-button>
          <custom-button [type]="'reset'" (click)="onReset()"></custom-button>
        </div>
    </form>
  </div>
</div>
