<div>
  <div class="header-content" fxLayout="row">
    <div class="header-title" fxFlex="80">
      {{ headerTitle }}
    </div>
    <div class="close-button" fxFlex="20">
      <button
        style="height: 24px"
        class="bg-white cursor-pointer text-base"
        type="button"
        (click)="onClose()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <hr class="header-line" />
  </div>
  <div class="">
    <form [formGroup]="employeeCreated" fxLayout="column" fxLayoutGap="10px">
      <div>
      <div class="w-full h-full page-content main mt-2" fxLayout="row">
        <div
          fxFlex.gt-sm="20%"
          fxFlex="100%"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <img
            class="custom-img"
            id="blah"
            [src]="imageFile ? imageFile.link : headerData.jobImage"
            alt="your image"
          />
          <input
            type="file"
            class="my-3"
            accept="image/*"
            name="imageFile"
            id="imageFile"
            formControlName="imageFile"
            (change)="handleChange($event)"
            [(ngModel)]="headerData.imageFile"
          />
        </div>
        <div
          fxFlex.gt-sm="80%"
          fxHide
          fxShow.gt-sm
          fxLayout="column"
          fxLayoutAlign="left left"
        >
          <div>
            <custom-input
              [required]="true"
              [name]="'companyOfJobs'"
              formControlName="companyOfJobs"
              [placeholder]="'Name company'"
              [title]="'Name company'"
              [maxlength]="250"
              [(ngModel)]="headerData.companyOfJobs"
            ></custom-input>

            <custom-input
              [required]="true"
              [name]="'name'"
              formControlName="name"
              [placeholder]="'Name Jobs'"
              [title]="'Name Jobs'"
              [maxlength]="250"
              [(ngModel)]="headerData.name"
            ></custom-input>

            <div fxLayoutAlign="center center">
              <mat-form-field
                fxFlex="50%"
                appearance="outline"
                floatLabel="always"
                style="width: 100%"
              >
                <mat-label> Major </mat-label>
                <mat-select
                  formControlName="idMajor"
                  [(ngModel)]="headerData.idMajor"
                >
                  <mat-option>
                    <ngx-mat-select-search
                      name="idMajor"
                      [(ngModel)]="search"
                      formControlName="search"
                      [placeholderLabel]="'Search'"
                      [noEntriesFoundLabel]="'NotFound'"
                    >
                      <mat-icon ngxMatSelectSearchClear>x</mat-icon>
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option
                    *ngFor="let item of comboxMajor"
                    [value]="item.idMajor"
                  >
                    {{ item.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <custom-input
                style="margin-left: 5px"
                fxFlex="50%"
                [required]="true"
                [name]="'position'"
                formControlName="position"
                [placeholder]="'position'"
                [title]="'position'"
                [maxlength]="250"
                [(ngModel)]="headerData.position"
              ></custom-input>
            </div>

            <div>
              <custom-input
                fxFlex="33,33%"
                [required]="true"
                [name]="'amount'"
                formControlName="amount"
                [placeholder]="'amount'"
                [title]="'Amount'"
                [maxlength]="250"
                [(ngModel)]="headerData.amount"
              ></custom-input>
              <mat-form-field
                style="margin-left: 5px"
                fxFlex="33,33%"
                appearance="outline"
                floatLabel="always"
              >
                <mat-label> Experience </mat-label>
                <mat-select
                  formControlName="experience"
                  [(ngModel)]="headerData.experience"
                >
                  <mat-option>
                    <ngx-mat-select-search name="experience">
                      <mat-icon ngxMatSelectSearchClear>x</mat-icon>
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option
                    *ngFor="let item of listExperienceJobs"
                    [value]="item.value"
                  >
                    {{ item.name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <custom-input
                style="margin-left: 5px"
                fxFlex="33,33%"
                [required]="true"
                [name]="'workTime'"
                formControlName="workTime"
                [placeholder]="'workTime'"
                [title]="'WorkTime'"
                [maxlength]="250"
                [(ngModel)]="headerData.workTime"
              ></custom-input>
            </div>

            <div>
              <custom-input
                fxFlex="50%"
                [required]="true"
                [name]="'salaryMin'"
                formControlName="salaryMin"
                [placeholder]="'salaryMin'"
                [title]="'SalaryMin'"
                [maxlength]="250"
                [(ngModel)]="headerData.salaryMin"
              ></custom-input>
              <custom-input
                style="margin-left: 5px"
                fxFlex="50%"
                [required]="true"
                [name]="'salaryMax'"
                formControlName="salaryMax"
                [placeholder]="'salaryMax'"
                [title]="'SalaryMax'"
                [maxlength]="250"
                [(ngModel)]="headerData.salaryMax"
              ></custom-input>
            </div>
            <div>
              <custom-input
                fxFlex="50"
                [required]="true"
                [name]="'address'"
                formControlName="address"
                [placeholder]="'address'"
                [title]="'Address'"
                [maxlength]="250"
                [(ngModel)]="headerData.address"
              ></custom-input>

              <custom-input-date
                style="margin-left: 5px"
                fxFlex="50"
                fxFlex.sm="100"
                [title]="'Date Expire'"
                [name]="'dateExpire'"
                formControlName="dateExpire"
                [(ngModel)]="headerData.dateExpire"
              >
              </custom-input-date>
            </div>
          </div>
        </div>
      </div>
      <div>
        <quill-editor
          [styles]="{ height: '300px' }"
          [modules]="modules"
          formControlName="jobDetail"
          [(ngModel)]="headerData.jobDetail"
        ></quill-editor>
      </div>
    </div>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around center">
        <custom-button [type]="'save'" (click)="onSubmit()"></custom-button>
        <custom-button
          [type]="'closeAll'"
          (click)="onClose()"
        ></custom-button>
      </div>
    </form>
  </div>
</div>
