.header-line {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-align {
  text-align: end;
  margin-right: 10px;
}

.close-button {
  text-align: end;
}

.close-button i {
  cursor: pointer !important;
}

.header-content {
  margin-top: -10px;
}
label {
  color: #212529;
  font-family: "Roboto";
  line-height: 24px;
  padding: 0px 12px;
}
h3 {
  color: #3a3a3a;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 38.4px;
}
.small {
  color: #6c757d;
  font-size: 14px;
  line-height: 21px;
  margin: 4px 0px 0px;
}

