.comment_box{
}
.show_box{
 padding: 12px 12px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 margin-bottom: 10px;
}
#reader ol li ul li .comment_box {
  margin-left: 40px;
  width: 570px;
}
#reader ol li ul ul li .comment_box {
  margin-left: 80px;
  width: 530px;
}
#reader ol li ul ul ul li .comment_box {
  margin-left: 120px;
  width: 490px;
}

  :host::ng-deep .mat-form-field{
    // padding-left: 34px;
    padding-left: 0;
    padding-right: 0;
  }
  .reply{
    a{
      color: #00bcd4;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
    }
    a:hover{
      cursor: pointer;
      text-decoration: underline;
      
    }
  }

  .close-button {
    display: flex;
    align-items: center;
  }
  
  .close-button i {
    cursor: pointer !important;
  }
