.header-line {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-align {
  text-align: end;
  margin-right: 10px;
}

.close-button {
  text-align: end;
}

.close-button i {
  cursor: pointer !important;
}

.header-content {
  margin-top: -10px;
}
