<header class="py-5 bg-header">
  <div class="container search-form-wrapper">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <h1 class="slogan">GO GO Finding your dream job now at UTC2</h1>
      <form class="search-form" fxLayout="column" [formGroup]="searchJob">
        <div fxLayout="row">
          <div class="search-form__keyword-section rounded">
            <div class="input-group dropdown">
              <div class="search-form__icon svg-icon">
                <i class="fa-solid fa-magnifying-glass svg-icon__icon"></i>
              </div>
              <input
                class="search-form__keyword-input"
                type="email"
                placeholder="Keyword skill (Java, iOS...), Job Title, Company..."
              />
            </div>
          </div>
          <div class="search-form__major-section rounded ml-2">
            <div class="w-100">
              <mat-select
                disableOptionCentering
                panelClass="dropDown-seasons-panel"
                formControlName="idMajor"
                placeholder="Select a major"
              >
                <mat-option>
                  <ngx-mat-select-search
                    name="idMajor"
                    [(ngModel)]="search"
                    formControlName="search"
                    [placeholderLabel]="'Search major'"
                    [noEntriesFoundLabel]="'NotFound'"
                  >
                    <mat-icon ngxMatSelectSearchClear>x</mat-icon>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option
                  *ngFor="let item of fakeComboxMajor"
                  [value]="item.idMajor"
                >
                  {{ item.name }}</mat-option
                >
              </mat-select>
            </div>
          </div>
          <div class="search-form__action-section">
            <button
              class="search-form__action rounded "
              type="submit"
              [disabled]="!searchJob.valid"
            >
              Search
            </button>
          </div>
        </div>
        <div></div>
      </form>
    </div>
  </div>
</header>
<!--main page-->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg-gray p-1">
  <div
    class="container container-xxl bg-white pt-2"
    fxLayout="row"
    fxLayoutGap="10px"
  >
    <!-- col.// -->
    <main class="col-md-9 page-jobs" fxFlex="50">
      <div class="page-jobs-inner">
        <header class="border-bottom my-3">
          <div class="form-inline py-2" fxFlex="row">
            <span class="mr-md-auto" style="font-size: 15px; font-weight: 500"
              >{{ Amount }} Jobs found
            </span>
          </div>
        </header>
        <!-- sect-heading -->

        <div
          *ngFor="
            let item of _LIST_DATA
              | paginate
                : {
                    itemsPerPage: 4,
                    currentPage: _PagingParams.currentPage,
                    totalItems: _PagingParams.totalRows
                  }
          "
        >
          <article
            class="mb-2 card active-border"
            tabindex="1"
            style="padding: 25px 0px"
            (click)="onClickQuickDetail(item.idJob)"
          >
            <div fxLayout="row">
              <div fxFlex="20" fxLayoutAlign="center top" style="padding: 0px">
                <img
                  style="
                    object-fit: cover;
                    width: 65px;
                    height: 65px;
                    border-radius: 15px;
                    border: 1px solid;
                  "
                  src="{{ item.jobImage }}"
                />
              </div>
              <!-- col.// -->
              <div fxFlex="100">
                <div class="info-main px-2" fxLayout="column">
                  <div fxFlex="row" fxLayoutAlign="space-between start">
                    <a
                      [routerLink]="['/detail-job', item.idJob]"
                      [queryParams]="{ debug: true }"
                      class="h5 title"
                      style="text-decoration: none"
                    >
                      {{ item.name }}
                    </a>
                    <div class="mr-2 new-job"><span>New for you</span></div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-between stretch">
                    <div class="description">
                      <div class="mb-1">
                        <a href="#" style="text-decoration: none">{{
                          item.recruitmentName
                        }}</a>
                      </div>
                      <div class="mb-1">
                        <div>Major: {{ item.nameMajor }}</div>
                      </div>
                      <div class="mb-1">
                        <div>
                          Salary: {{ item.salaryMin }} - {{ item.salaryMax }}
                        </div>
                      </div>
                      <div class="mb-1">
                        <div>Address: {{ item.address }}</div>
                      </div>
                    </div>
                    <div>
                      <div class="mb-1">
                        <span>
                          Amount:<span> {{ item.amount }} </span></span
                        >
                      </div>
                      <div class="mb-1">
                        <span>
                          Work time:<span> {{ item.workTime }}h </span></span
                        >
                      </div>
                      <div class="mb-1">
                        <span>
                          Experience:<span>
                            {{ item.experience }} năm
                          </span></span
                        >
                      </div>
                      <div class="mb-1">
                        <span>
                          Date expire:<span>
                            {{ item.dateExpire | date }}
                          </span></span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <!-- info-main.// -->
              </div>
            </div>
            <!-- <div style="width: 100%; text-align: right; padding-right: 10px">
              <a
                [routerLink]="['/home/quick-detail', item.idJob]"
                [queryParams]="{ debug: true }"
                class="btn btn-primary mt-1"
                style="width: 200px"
              >
                Quick detail
              </a>
            </div> -->
          </article>
          <!-- card-product .// -->
        </div>
        <pagination-controls
          (pageChange)="onpageChange($event)"
        ></pagination-controls>
      </div>
    </main>
    <main class="col-md-9" fxFlex="50">
      <header class="border-bottom my-3">
        <div class="form-inline py-2" fxFlex="row">
          <span class="mr-md-auto" style="font-size: 15px; font-weight: 500"
            >Review jobs</span
          >
        </div>
      </header>
      <!-- sect-heading -->

      <div class="content-container">
        <router-outlet></router-outlet>
      </div>

      <nav aria-label="Page navigation sample"></nav>
    </main>
  </div>
</section>

<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
