
<div class="w-full h-full page-content" fxLayout="row">
  <div
    fxFlex="100%"
    fxLayout="column"
    fxLayoutAlign="center center"
    class="main-wrapper"
  >

  <div class="layout" fxLayout="row">
    <mat-card class="box" @fadeInUp fxFlex="55" >
      <mat-card-header>
        <div class="mt-2">
          <h1 class="welcome">WelcomeBack Login Account</h1>
          <h4 class="detail">Go Go jobs is waiting for you</h4>
        </div>
  
      </mat-card-header>
  
      <div @fadeInUp class="overflow-hidden w-full max-w-xl">
        <form
          [formGroup]="formGroup"
          class="p-6 example-form "
          fxLayout="column"
          fxLayoutGap="16px"
          (ngSubmit)="onSubmit()"
        >
        <mat-card-content>
          <div fxLayout="column">
            <div fxFlex="auto" fxLayout="column" >
              <mat-form-field
                appearance="outline"
                floatLabel="always"
                style="width: 100%"
                class="example-full-width"
              >
                <mat-label >Email</mat-label>
                <input formControlName="email" matInput required />
                <mat-error *ngIf="formGroup.get('email')?.hasError('required')"
                  >We need a email to log you in
                </mat-error>
              </mat-form-field>
              <mat-form-field
                appearance="outline"
                floatLabel="always"
                style="width: 100%"
                class="example-full-width"
              >
                <mat-label>Password</mat-label>
                <input
                  [type]="'password'"
                  formControlName="password"
                  matInput
                  required
                />
                <mat-error *ngIf="formGroup.get('password')?.hasError('required')"
                  >We need a password to log you in
                </mat-error>
              </mat-form-field>
            </div>
    
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <mat-checkbox class="caption" color="primary"
                >Remember me</mat-checkbox
              >
              <a [routerLink]="['/account/forgot-password']" class="caption"
                >Forgot password</a
              >
            </div>
          </div>
            </mat-card-content>
          <div
            fxLayout="column"
            fxLayoutAlign="space-between"
            fxLayoutGap="10px"
          >
            <button
              fxFlex="100"
              type="submit"
              color="primary"
              class="button-login"
              mat-raised-button
              [disabled]="!formGroup.valid"
              
            >
              Sign in
            </button>
          </div>
        </form>
      </div>
    </mat-card>
    <mat-card class="box" @fadeInUp fxFlex="45">
      <mat-card-header>
        <div
        fxHide
        fxShow.gt-sm
        fxLayoutAlign="center center"
        class="mb-5"
      >
        <div  class="overflow-hidden w-full max-w-xl"><img src="https://utc2.edu.vn/upload/company/logo-15725982242.png" alt="utc2"></div>
      </div>
  
      </mat-card-header>    
        <mat-card-content>
          <div
            fxLayout="column"
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            class="text-center"
          >
            <button
              fxFlex="100"
              type="submit"
              color="primary"
              class="button-login"
              mat-raised-button
              (click)="Register()"
              
            >
              Sign up your account
            </button>
            <div>
              OR
            </div>
            <button
              fxFlex="100"
              type="submit"
              color="primary"
              class="button-login"
              mat-raised-button
              (click)="RegisterRecruitment()"
            >
               become recruitment
            </button>
          </div>
            </mat-card-content>
    </mat-card>
  </div>
  </div>
  
</div>
