<app-header></app-header>
<header class="py-5 bg-header">
  <div class="container search-form-wrapper">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <h1 class="slogan">GO GO Finding your dream job now at UTC2</h1>
      <form class="search-form" fxLayout="column" [formGroup]="searchJob">
        <div fxLayout="row">
          <div class="search-form__keyword-section rounded">
            <div class="input-group dropdown">
              <div class="search-form__icon svg-icon">
                <i class="fa-solid fa-magnifying-glass svg-icon__icon"></i>
              </div>
              <input
                class="search-form__keyword-input"
                type="email"
                placeholder="Keyword skill (Java, iOS...), Job Title, Company..."
                formControlName="keySearch"
              />
            </div>
          </div>
          <div class="search-form__major-section rounded ml-2">
            <div class="w-100">
              <mat-select
                disableOptionCentering
                panelClass="dropDown-seasons-panel"
                formControlName="idMajor"
                (selectionChange)="select()"
                placeholder="Select a major"
              >
                <mat-option>
                  <ngx-mat-select-search
                    name="idMajor"
                    [(ngModel)]="search"
                    formControlName="search"
                    [placeholderLabel]="'Search major'"
                    [noEntriesFoundLabel]="'NotFound'"
                  >
                    <mat-icon ngxMatSelectSearchClear>x</mat-icon>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option
                  *ngFor="let item of comboxMajor"
                  [value]="item.idMajor"
                >
                  {{ item.name }}</mat-option
                >
              </mat-select>
            </div>
          </div>
          <div class="search-form__action-section">
            <button
              class="search-form__action rounded"
              type="submit"
              (click)="searchJobByKeyWord()"
            >
              Search
            </button>
          </div>
        </div>
        <div></div>
      </form>
    </div>
  </div>
</header>
<!--main page-->

<!-- ========================= SECTION CONTENT ========================= -->
<div style="background-color: #e9e9e9">
  <section
    class="section-content padding-y bg-gray p-1"
    style="background-color: #e9e9e9"
  >
    <div
      class="container container-xxl bg-white pt-2"
      fxLayout="row"
      fxLayoutGap="10px"
    >
      <!-- col.// -->
      <main class="col-md-9 page-jobs" fxFlex="50">
        <div class="page-jobs-inner">
          <header class="border-bottom my-3">
            <div class="form-inline py-2" fxFlex="row">
              <span class="mr-md-auto" style="font-size: 15px; font-weight: 500"
                >{{ Amount }} Jobs found
              </span>
            </div>
          </header>
          <!-- sect-heading -->

          <div *ngFor="let item of _LIST_DATA">
            <article
              class="mb-2 card active-border"
              tabindex="1"
              style="padding: 25px 0px"
              (click)="onClickQuickDetail(item.idJob)"
            >
              <div fxLayout="row">
                <div
                  fxFlex="20"
                  fxLayoutAlign="center top"
                  style="padding: 0px"
                >
                  <img
                    style="
                      object-fit: cover;
                      width: 65px;
                      height: 65px;
                      border-radius: 15px;
                      border: 1px solid;
                    "
                    src="{{ item.jobImage }}"
                  />
                </div>
                <!-- col.// -->
                <div fxFlex="100">
                  <div class="info-main px-2" fxLayout="column">
                    <div fxFlex="row" fxLayoutAlign="space-between start">
                      <a
                        [routerLink]="['/detail-job', item.idJob]"
                        [queryParams]="{ debug: true }"
                        class="h5 title-label"
                        style="text-decoration: none"
                      >
                        {{ item.name }}
                      </a>
                      <div class="mr-2 new-job" >
                        <span>New for you</span>
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                      <div class="description">
                        <div class="mb-1">
                          <a href="#" style="text-decoration: none">{{
                            item.recruitmentName
                          }}</a>
                        </div>
                        <div class="mb-1">
                          <div>Major: {{ item.nameMajor }}</div>
                        </div>
                        <div class="mb-1">
                          <div>
                            Salary: {{ item.salaryMin }} - {{ item.salaryMax }}
                          </div>
                        </div>
                        <div class="mb-1">
                          <div>Address: {{ item.address }}</div>
                        </div>
                      </div>
                      <div>
                        <div class="mb-1">
                          <span>
                            Amount:<span> {{ item.amount }} </span></span
                          >
                        </div>
                        <div class="mb-1">
                          <span>
                            Work time:<span> {{ item.workTime }}h </span></span
                          >
                        </div>
                        <div class="mb-1">
                          <span>
                            Experience:<span>
                              {{ item.experience }} năm
                            </span></span
                          >
                        </div>
                        <div class="mb-1">
                          <span>
                            Date expire:<span>
                              {{ item.dateExpire | date }}
                            </span></span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- info-main.// -->
                </div>
              </div>
            </article>
            <!-- card-product .// -->
          </div>
        </div>
      </main>
      <main class="col-md-9" fxFlex="50">
        <header class="border-bottom my-3">
          <div class="form-inline py-2" fxFlex="row">
            <span class="mr-md-auto" style="font-size: 15px; font-weight: 500"
              >Review jobs</span
            >
          </div>
        </header>
        <!-- sect-heading -->

        <div class="content-container">
          <router-outlet></router-outlet>
        </div>

        <nav aria-label="Page navigation sample"></nav>
      </main>
    </div>
  </section>
  <section class="top-companies" style="background-color: #e9e9e9">
    <div class="container-xxl">
      <div class="title">Recruitment Company</div>
      <div class="row">
        <div *ngFor="let item of listCompany" class="col-xs-12 col-md-3 mt-4">
          <a
            class="top-company active-border"
            [routerLink]="['/show-detail-company', item.idRecruitment]"
            [queryParams]="{ debug: true }"
          >
            <div class="top-company__logo text-center">
              <img src="{{ item.urlLogo }}" alt="logo" class="lazyloaded" />
            </div>
            <div class="top-company__name text-center">
              {{ item.nameCompany }}
            </div>
            <footer class="top-company__footer text-center">
              <span class="top-company__footer-jobs">
                <span class="red link">{{ item.countJob }} jobs</span>
                <!-- <span>&nbsp;-&nbsp;</span> -->
              </span>
            </footer>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section
    class="blog-list"
    style="background-color: #e9e9e9"
    fxLayout="column"
    fxLayoutAlign="start"
  >
    <div class="container-xxl">
      <div class="blog-list__header">
        <h3 class="blog-list__title text-center">New Posts</h3>
        <div class="blog-list__cta">
          <a>
            <div class="svg-icon svg-icon--inline svg-icon--blue">
              <div class="svg-icon__text">
                <a [routerLink]="['/blog']">Show more</a>
              </div>
              <svg class="svg-icon__icon">
                <use xlink:href="#caret-right-icon"></use>
              </svg></div
          ></a>
        </div>
      </div>
      <div class="blog-list__content mt-3">
        <!-- loop -->
        <div
          class="blog"
          fxLayout="row"
          fxFlex="50"
          *ngFor="let item of newArray"
        >
          <a href="#" class="blog__image-link text-center" fxFlex="50">
            <img
              src="{{ item.image }}"
              alt="image-blog"
              class="lazyloaded"
              [routerLink]="['/detail-blog', item.idBlog]"
              [queryParams]="{ debug: true }"
            />
          </a>
          <div
            class="blog__description"
            fxLayout="column"
            fxLayoutAlign="space-between start"
            fxFlex="50"
          >
            <div>
              <h4 class="blog__description-title config-word">
                <a
                  [routerLink]="['/detail-blog', item.idBlog]"
                  [queryParams]="{ debug: true }"
                  >{{ item.title }}</a
                >
              </h4>
              <div class="blog__description-content config-word">
                {{ item.summary }}
              </div>
            </div>
            <div class="blog__read-more">
              <a href="#">
                <div class="svg-icon svg-icon--inline svg-icon--blue">
                  <div class="">
                    <a
                      [routerLink]="['/detail-blog', item.idBlog]"
                      [queryParams]="{ debug: true }"
                      >Read more
                    </a>
                  </div>
                  <svg class="svg-icon__icon">
                    <use xlink:href="#icon-arrow-right"></use>
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- end loop -->
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
