<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5" style="color: white">
          Build a landing page for your business or project and generate more
          leads!
        </h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row" fxLayout="column">
            <div fxLayout="row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input
                  class="form-control form-control-lg"
                  type="email"
                  placeholder="Enter your jobs..."
                />
              </div>
              <div class="col-12 col-md-3 ml-1">
                <button class="btn btn-block btn-lg btn-primary" type="submit">
                  Finding!
                </button>
              </div>
            </div>
            <div></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
<!--main page-->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container px-lg-5" fxLayout="row" fxLayoutGap="10px">
    <!-- col.// -->
    <main class="col-md-9" fxFlex="50">
      <header class="border-bottom my-3">
        <div class="form-inline py-2" fxFlex="row">
          <span class="mr-md-auto" style="font-size: 15px; font-weight: 500"
            >{{Amount}} Jobs found
          </span>
        </div>
      </header>
      <!-- sect-heading -->

      <div *ngFor="let item of _LIST_DATA | paginate: { itemsPerPage: 1, currentPage: _PagingParams.currentPage , totalItems: _PagingParams.totalRows }">
        <article class="mb-2 card" style="padding: 25px 0px">
          <div fxLayout="row">
            <div fxFlex="20" fxLayoutAlign="center top" style="padding: 0px">
              <img
                style="
                  object-fit: cover;
                  width: 65px;
                  height: 65px;
                  border-radius: 15px;
                  border: 1px solid;
                "
                src="{{ item.jobImage }}"
              />
            </div>
            <!-- col.// -->
            <div fxFlex="100">
              <div class="info-main px-2" fxLayout="column">
                <div fxFlex="row" fxLayoutAlign="space-between start">
                  <a
                    [routerLink]="['home/item-page']"
                    class="h5 title"
                    style="text-decoration: none"
                  >
                    {{ item.name }}
                  </a>
                  <a class="mr-2" style="font-size: 25px"
                    ><i class="fa fa-heart"></i
                  ></a>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between stretch">
                  <div>
                    <div class="mb-1">
                      <a href="#" style="text-decoration: none">{{item.recruitmentName}}</a>
                    </div>
                    <div class="mb-1">
                      <div>Major: {{ item.nameMajor }}</div>
                    </div>
                    <div class="mb-1">
                      <div>Salary: {{ item.salaryMin }} - {{ item.salaryMax }}</div>
                    </div>
                    <div class="mb-1">
                      <div>Address: {{ item.address }}</div>
                    </div>
                  </div>
                  <div>
                    <div class="mb-1">
                      <span>
                        Amount:<span> {{ item.amount }} </span></span
                      >
                    </div>
                    <div class="mb-1">
                      <span>
                        Work time:<span> {{ item.workTime }}h </span></span
                      >
                    </div>
                    <div class="mb-1">
                      <span>
                        Experience:<span> {{ item.experience }} </span></span
                      >
                    </div>
                    <div class="mb-1">
                      <span>
                        Date expire:<span> {{ item.dateExpire | date}} </span></span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- info-main.// -->
            </div>
          </div>
          <div style="width: 100%; text-align: right; padding-right: 10px">
            <a
              [routerLink]="['home/quick-details']"
              class="btn btn-primary mt-1"
              style="width: 200px"
            >
              Quick detail
            </a>
          </div>
        </article>
        <!-- card-product .// -->
      </div>
      <pagination-controls (pageChange)="_PagingParams.currentPage = $event"></pagination-controls>
    </main>
    <main class="col-md-9" fxFlex="50">
      <header class="border-bottom my-3">
        <div class="form-inline py-2" fxFlex="row">
          <span class="mr-md-auto" style="font-size: 15px; font-weight: 500"
            >Review jobs</span
          >
        </div>
      </header>
      <!-- sect-heading -->

      <div style="width: 100%; height: 700px">
        <router-outlet></router-outlet>
      </div>

      <nav aria-label="Page navigation sample"></nav>
    </main>
  </div>
</section>
