<div>
  <div class="header-content" fxLayout="row">
    <div class="header-title" fxFlex="80">
      {{ headerTitle }}
    </div>
    <div class="close-button" fxFlex="20">
      <button
        style="height: 24px"
        class="bg-white cursor-pointer text-base"
        type="button"
        (click)="onClose()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <hr class="header-line" />
  </div>
  <div class="">
    <form [formGroup]="employeeCreated">
      <div fxLayout="column">
        <div
          fxLayout="column"
          fxFlex="100"
          fxLayoutAlign="space-between stretch"
        >
          <custom-input
            fxFlex="100"
            [name]="'idMajor'"
            [title]="'ID major'"
            [maxlength]="250"
            [disabled]="true"
            formControlName="idMajor"
            [(ngModel)]="headerData.idMajor"
          ></custom-input>
          <custom-input
            fxFlex="100"
            [name]="'name'"
            [title]="'Major name'"
            [maxlength]="250"
            formControlName="name"
            [(ngModel)]="headerData.name"
          ></custom-input>

          <custom-textarea
            fxFlex="100"
            [title]="'Description'"
            [placeholder]="'Description'"
            formControlName="description"
            [(ngModel)]="headerData.description"
          ></custom-textarea>
        </div>

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around center">
          <custom-button [type]="'save'" (click)="onSubmit()"></custom-button>
          <custom-button
            [type]="'closeAll'"
            (click)="onClose()"
          ></custom-button>
        </div>
      </div>
    </form>
  </div>
</div>
